*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header h1{
    padding: 50px;
    color:orangered;
    margin-bottom: 30px;
    font-family: "Playwrite NZ", cursive;
}

div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}

div img{
    width: 400px;
    height: 300px;
    border: 2px solid #ff3d0036;
    border-radius: 13px;
    box-shadow: 4px 7px 7px 0px #00000042;
    cursor: pointer;
    margin: 10px;
    transition: 400ms;
}
div img:hover{
    filter: grayscale(1);
    transform: scale(1.03);
}